.container{
  width : 100%;
  margin-top: 50px;
}



.center{
  background-color: #b8b1b1;
}


.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Box{
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}